<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="right_wheel">
        <mu1>1000.0</mu1>
        <mu2>1000.0</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>10.0</maxVel>
        <fdir1>1 0 0</fdir1>
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="left_wheel">
        <mu1>1000.0</mu1>
        <mu2>1000.0</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>10.0</maxVel>
        <fdir1>1 0 0</fdir1>
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="front_wheel">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find control_test)/config/control.yaml</parameters>
        </plugin>
    </gazebo>

</robot>